<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pws.pateast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"></uses-feature>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.parent.home.ParentHomeActivity"
            android:label=""
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.teacher.home.TeacherHomeActivity"
            android:label=""
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.student.home.StudentHomeActivity"
            android:label=""
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.driver.home.DriverHomeActivity"
            android:label="@string/title_dashboard"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/title_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tasks.TaskActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.tasks.ParentTaskActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.tasks.StudentTaskActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.tasks.TeacherTaskActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <activity
            android:name=".activity.tasks.DriverTaskActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.driver.track.DriverTrackActivity"
            android:label="@string/route_tracking"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DriverTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.parent.track.ParentTrackActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.teacher.student.StudentFilterActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_student" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <activity
            android:name=".activity.assignment.AssignmentStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.lms.LMSActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StudentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.feeds.FeedsActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.attendance.AttendanceReportActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.attendance.TeacherAttendanceReportActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.attendance.StudentAttendanceReportActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.attendance.ParentAttendanceReportActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.leave.LeaveStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.leave.ParentLeaveStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.leave.StudentLeaveStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.leave.TeacherLeaveStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.leave.DriverLeaveStatusActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.schedule.activity.ScheduleActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.schedule.activity.StudentScheduleActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.schedule.activity.TeacherScheduleActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.schedule.activity.ParentScheduleActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.schedule.activity.DriverScheduleActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.chat.add.ChatUserActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.chat.inbox.InboxActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.chat.message.MessageActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropTheme.Base" />
        <activity
            android:name=".activity.parent.ward.WardSelectionActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <activity
            android:name=".activity.lms.video.VideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/StudentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.parent.fees.WardFeesActivity"
            android:label="@string/fee_details"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ParentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <activity
            android:name=".activity.lms.content.WebContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/StudentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.lms.content.ImageContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/StudentTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>

        <!--Paynimo-->
        <activity
            android:name="com.paynimo.android.payment.OTPReadingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.paynimo.android.payment.PaymentModesActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.paynimo.android.payment.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.paynimo.android.payment.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <receiver android:name="com.paynimo.android.payment.network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--Paynimo-->

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.pws.pateast.provider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pws.pateast.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".fragment.assignment.AssignmentDownloadService"
            android:enabled="true" />
        <service
            android:name=".scheduler.DownloadJobSchedulerService"
            android:exported="true"
            android:label="Download service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".broadcast.BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.SocketBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.pws.pateast.RESTART_SOCKET_RECEIVER" />
            </intent-filter>
        </receiver>

        <!-- [START SocketService] -->
        <service
            android:name=".service.socket.SocketService"
            android:enabled="true" />
        <!-- [END SocketService] -->

        <!-- [START UploadService] -->
        <service
            android:name=".service.upload.UploadService"
            android:exported="false" />
        <!-- [END UploadService] -->

        <!-- [START SyncService] -->
        <service
            android:name=".service.sync.SyncService"
            android:exported="false"></service>
        <!-- [END SyncService] -->

        <!-- [START firebase_service] -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service
            android:name=".firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />


        <receiver android:name=".broadcast.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fb8e5f63e6a3202d631770dee76b58ddcd5226e4" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>